mat-card {
  margin: auto auto;
}
h1, h2, h3, h4 {
  text-align: center;
  padding-top: 1em;
  font-weight: normal;
}
.question {
  margin-top: 1rem;
  text-align: center;
}
.location {
  width: 70%;
  margin: 0 auto;
}
.location mat-form-field {
  width: 100%;
}
.rent-own {
  text-align: center;
  margin: 2rem auto;
}
.rent-own mat-button-toggle {
  padding: 0.5rem 1rem;
  width: 50%;
}
.mat-button-toggle-checked {
  background-color: #3f51b5;
  color: white;
}
.three-spans {
  text-align: center;
  margin: 0 auto;
}
.three-spans span{
  padding: 0 1rem;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
