<mat-card>
  <mat-horizontal-stepper [linear]='isLinear' #stepper>
    <mat-step [stepControl]="basicForm">
      <form [formGroup]='basicForm' (ngSubmit)='onSubmit($event, 0)'>
        <ng-template matStepLabel>Basic information</ng-template>
        <header>
          <h1>Welcome! Get {{ insuranceType }}</h1>
        </header>
        <h4>Where is the property?</h4>
        <div class='location'>
          <mat-form-field class='location-field'>
            <mat-select placeholder="Location" name="location" formControlName='location' required>
              <mat-option *ngFor="let place of places" [value]="place.value">
                {{place.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class='question'>
          <mat-button-toggle-group formControlName='ownershipStatus' required>
            <mat-button-toggle #status value="own">
              I own
            </mat-button-toggle>
            <mat-button-toggle value="rent">
              I rent
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div class="multiple-spans">
          <span>
            <mat-form-field>
              <input matInput type="text" name="firstname" placeholder="First name" #fname formControlName="firstName"
                required>
              <mat-error *ngIf="fname.invalid">Please enter your first name.</mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field>
              <input matInput type="text" name="lastname" placeholder="Last name" #lName formControlName='lastName'
                required>
              <mat-error *ngIf="lName.invalid">Please enter your last name.</mat-error>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field>
              <input matInput [matDatepicker]="dobPicker" [max]='now' name="dateofbirth" placeholder="Date of birth"
                formControlName='dob' required>
              <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
              <mat-datepicker #dobPicker></mat-datepicker>
            </mat-form-field>
          </span>
        </div>

        <h4>When do you want your coverage to start?</h4>
        <div class='multiple-spans' formGroupName="coverageStart">
          <span>
            <mat-form-field>
              <mat-select placeholder="Year" formControlName='year' (selectionChange)="updateDaysInMonth()" required>
                <mat-option *ngFor="let y of years" [value]="y">{{y}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field>
              <mat-select placeholder="Month" formControlName='month' (selectionChange)="updateDaysInMonth()" required>
                <mat-option *ngFor="let m of months" [value]="m.value">{{m.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field>
              <mat-select placeholder="Date" formControlName='day' [value]='basicForm.get("coverageStart.day")' required>
                <mat-option *ngFor="let d of daysInMonth" [value]="d">{{d}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
        </div>
        <small *ngIf="DEBUG">Form status: {{ basicForm.status }}</small>
        <mat-action-row>
          <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Next</button>
          <button class='float-right' type='button' mat-button (click)="debug()" *ngIf="DEBUG">Debug</button>
        </mat-action-row>
      </form>
    </mat-step>

    <mat-step [stepControl]='dwellingForm'>
      <form [formGroup]='dwellingForm' (ngSubmit)='onSubmit($event, 1)'>
        <ng-template matStepLabel>Dwelling information</ng-template>
        <div class='question'>
          <h4>What kind of property?</h4>
          <mat-button-toggle-group formControlName='propertyKind' required>
            <mat-button-toggle *ngFor="let item of updatedPropertyKinds" [value]="item">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class='question' *ngIf="shouldShowField('primaryResidenceQuestion')">
          <h4>Is this property your primary residence?</h4>
          <mat-button-toggle-group formControlName='isPrimaryResidence' required>
            <mat-button-toggle *ngFor="let item of ['Yes', 'No']" [value]="item=='Yes'">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class='question' *ngIf="shouldShowField('secondaryOrConstructionQuestion')">
          <h4>Is this property a secondary residence or under construction?</h4>
          <!-- TODO: Allow deselection -->
          <mat-button-toggle-group formControlName='secondaryResidenceOrConstruction'>
            <mat-button-toggle *ngFor="let item of ['Secondary', 'Under Construction']" [value]="item">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class='question' *ngIf="shouldShowField('isVacantQuestion')">
          <h4>Is this property currently vacant?</h4>
          <mat-button-toggle-group formControlName='isVacant' required>
            <mat-button-toggle *ngFor="let item of ['Yes', 'No']" [value]="item=='Yes'">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class='question multiple-spans' *ngIf="shouldShowField('vacancyDetailsQuestion')" formGroupName="vacancy">
          <span>
            <mat-form-field>
              <mat-select placeholder="Duration of vacancy" formControlName='duration' required>
                <mat-option *ngFor="let i of ['Short','Medium','Long','Always']" [value]="i">{{i}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          <span>
            <mat-form-field>
              <input matInput type="text" name="vacancyreason" placeholder="Reason for vacancy" #vacreason
                formControlName="reason"  required>
              <mat-error *ngIf="vacreason.invalid">Please enter a reason for vacancy.</mat-error>
            </mat-form-field>
          </span>
        </div>
        <small *ngIf="DEBUG">Form status: {{ dwellingForm.status }}</small>
        <mat-action-row>
          <button class='float-left' type='button' mat-button color="primary" matStepperPrevious>Back</button>
          <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Next</button>
          <button class='float-right' type='button' mat-button (click)="debug()" *ngIf="DEBUG">Debug</button>
        </mat-action-row>
      </form>
    </mat-step>

    <mat-step [stepControl]='claimsForm'>
      <form [formGroup]='claimsForm' (ngSubmit)='onSubmit($event, 2)'>
        <ng-template matStepLabel>Claims History</ng-template>
        <div class='question'>
          <h4>Have you made a claim in the past 10 years?</h4>
          <mat-button-toggle-group formControlName='hasMadeClaim' required>
            <mat-button-toggle *ngFor="let item of ['Yes', 'No']" [value]="item=='Yes'">
              {{item}}
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div *ngIf="shouldShowField('claimsList')" formArrayName="claims">
          <mat-card class='question' *ngFor="let claim of claims.controls; let i=index">
            <div [formGroupName]="i" class='multiple-spans'>
              <h4>Claim #{{i+1}}</h4>
              <span>
                <mat-form-field>
                  <mat-select placeholder="What happened?" formControlName='event' required>
                    <mat-option *ngFor="let event of ['Fire', 'Flood', 'Aliens', 'Other']" [value]="i">{{event}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </span>
              <span>
                <mat-form-field>
                  <input matInput [matDatepicker]="claimPicker" name="claimDate{{i}}" placeholder="When did it happen?"
                    formControlName='date' [max]='now' required>
                  <mat-datepicker-toggle matSuffix [for]="claimPicker"></mat-datepicker-toggle>
                  <mat-datepicker #claimPicker></mat-datepicker>
                </mat-form-field>
              </span>
            </div>
            <mat-action-row>
              <button class='float-right' type='button' mat-button color="warn" (click)='removeClaim(i)' *ngIf='claims.length > 1'>Delete</button>
              <div class='clearfix'></div>
            </mat-action-row>
          </mat-card>
          <button id='add-claim-btn' type='button' mat-button color="primary" (click)="addClaim()">Add another claim</button>
          <div class='clearfix'></div>
        </div>
        <small *ngIf="DEBUG">Form status: {{ claimsForm.status }}</small>
        <mat-action-row>
          <button class='float-left' type='button' mat-button color="primary" matStepperPrevious>Back</button>
          <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Next</button>
          <button class='float-right' type='button' mat-button (click)="debug()" *ngIf="DEBUG">Debug</button>
        </mat-action-row>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Review</ng-template>
      You are now done.
      <mat-action-row>
        <button class='float-right' type='submit' mat-button color="primary" matStepperNext>Submit</button>
      </mat-action-row>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
